html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
  background-color: rgb(250, 250, 250);
}

#camera {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 20px;
}

#camera-view,
#camera-sensor {
  width: 300px;
  height: 300px;
  background: #000;
  object-fit: cover;
  border-radius: 8px;
}

#cameraTrigger {
  width: 270px;
  background-color: #3ab1ab;
  color: white;
  font-size: 16px;
  border-radius: 6px;
  border: none;
  padding: 12px 16px;
  cursor: pointer;
  transition: 0.2s;
}

#cameraTrigger:hover {
  background-color: #228580;
}

input {
  width: 250px;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 15px;
}

#registrosSalvos {
  width: 260px;
  padding: 0;
  margin-top: 10px;
  list-style: none;
}

#registrosSalvos li {
  background: white;
  padding: 10px;
  margin-bottom: 6px;
  border-radius: 6px;
  border: 1px solid #ddd;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  list-style: none;
}

.btn-excluir {
  margin-top: 10px;
  padding: 8px 12px;
  background-color: #ff4d6d;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
}

.btn-excluir:hover {
  background-color: #e63950;
}